.notifications-container {
  max-width: 900px;
}

.notifications-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notification-item {
  background-color: var(--card-bg-color);
  padding: 20px 25px;
  border-radius: 12px;
  font-size: 16px;
}

 