:root {
  --accent-color: #FF6600;
  --text-color: #EDE0D4;
  --bg-color: #121212;
  --card-bg-color: #1e1e1e;
  --border-color: #2e2e2e;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   left: 0px;
   top: 0px;
   background: radial-gradient(87.1% 87.1% at 54.53% -24.74%, rgba(255, 102, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) ;/* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #1A1A1A;s
}

* {
  box-sizing: border-box;
}